<html>
<head>
    <title>Blog Spot</title>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="terminal icon"></i> Blog Spot</div>
        <a class="item" href="/">Home</a>
        <a class="item" href="/blogs/new">New Blog</a>
    </div>
</div>